html, body{
  height: 100%;
  background-image: url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body{
  margin: 0;
  padding: 0;
}
#logo {
  text-align: center;
}
#transparent {
  width: 90%;
  margin: auto;
  background:rgba(255, 255, 255, 0.3);
  min-height: 100%;
  top: 0;
  
}
h3 {
  font-size: 30pt;
  text-align: center;
  color: white;
  font-family: "Nunito";
}

#searchbar {
  width: 95%;
  margin: auto;
}
#question {
  width: 92%;
  margin: auto;
  height: 21px;
  font-size: 15pt;
  padding: 3px;
  padding-left: 10px;

}
#category-container {
  width: 95%;
  margin: auto;
}
#Topics {
  display: inline-block;
  width: 20%;
  float: left;
}
#QandA {
  padding: 7px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.9);
  min-height: 350px;
  width: 72%;
  /*max-width: 70%;*/

}
.navigation {
  font-family: "Nunito";
  color: white;
  font-size: 13pt;
  padding: 2px;
  padding-left: 5px;
  cursor: pointer;
}
.ReadText {
  font-family: "Nunito";
  color: white;
  font-size: 18pt;
  padding-left: 5px;
  padding-bottom: 5px;
  width: 20%;
}
.selected {
  color: #8CC63F;
  background: rgba(255, 255, 255, 0.9);
}

.question {
  color: #8CC63F;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 10pt;
  padding-bottom: 5px;
  cursor: pointer;
}
.answer {
  font-family: "Nunito";
  font-weight: 300;
  font-size: 10pt;
  color: black;
  border-left: solid;
  border-width: 2px;
  margin-left: 10px;
  padding-left: 5px; 
  display: none;

}
img:not(#logoPic) {
  width: 300px;
}
.highlighted {
  background-color: yellow;
}


/*Should handle all browsers*/
::-webkit-input-placeholder {font-family: "Nunito"; font-weight: 300; font-size: 12pt;}
::-moz-placeholder {font-family: "Nunito"; font-size: 12pt;} /* firefox 19+ */
:-ms-input-placeholder {font-family: "Nunito"; font-size: 12pt;} /* ie */
input:-moz-placeholder {font-family: "Nunito"; font-size: 12pt;}
  